//=================================================
// SOFT RESET
//=================================================

*, *::before, *::after {
    margin: 0;
    padding : 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

//=================================================
// Font
//=================================================

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
    font-family: Poppins, sans-serif;
}

//=================================================
// CSS start
//=================================================

.header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(114, 174, 226), rgb(214, 117, 210));
}

.contact {
    padding: 2rem;
    &__title {
        text-align: center;
    }
    &__list {
        list-style-type: none;
        text-align: center;
    }
}